<h1> The Amazing Volunteer Tracker</h1>
<hr>
<h3 class='offset'>Create a Volunteer Project:</h3>
<form class="form-inline" name="title" method ='post' action='/projects'>
  <div class="form-group">
    <label for="title">your project name:</label>
    <input type="text" name="title" id="" class="form-control offset" placeholder="" aria-describedby="helpId">
    <button type="submit" class="btn btn-primary">Create Project</button>
    <br>
  </div>
  <br>
  <br>
</form>
<% if @projects.any? %>
<% @projects.each do |project| %>
<hr>
<li class='display-4'><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
<form class="form-inline" name="title" method ='post' action='/projects/<%= project.id %>/volunteers'>
  <div class="form-group">
  <br>
<br>
    <label for="name">Volunteer Name:</label>
    <input type="text" name="volunteername" id="" class="form-control offset" placeholder="" aria-describedby="helpId">
    <button type='submit' class="btn btn-primary">Add Volunteer</button>
    <br>
  </div>
</form>
<% end %>
<% else %>
<h2>No projects yet, let's create one!</h2>
<% end %>
<hr>
