<h1><%= @project.title %></h1>
<hr>
<form method='post' action='/projects/<%= @project.id %>/edit'>
<input name="_method" type="hidden" value="delete"> 
<button class='btn btn-danger'  type='submit'>Delete Project</button>
</form>
<a href ='/projects/<%= @project.id %>/edit'>Edit Project</a>
<% if @volunteers.any? %>
<% @volunteers.each do |volunteer| %>
<li class='display-4'><a href='/volunteers/volunteer.id'><%= volunteer.name %> </a></li>
<% end %>
<% else %>
<h2>No volunteers yet, get some folks to join!</h2>
<% end %>
<a href='/'>Back to the main page</a>