<h1><%= @project.title %></h1>
<hr>
<form method='post' action='/project/<%= @project.id %>/delete'>
<button class='btn btn-danger'  type='submit'>Delete Project</button>
</form>
<a href ='/project/<%= @project.id %>/edit/'>Edit Project</a>
<a href='/'>Back to the main page</a>